<h2>Your order</h2>
<%= @book.title %>
<table>
<tr>
  <th>Title</th>
  <th>Author</th>
  <th>Price</th>
</tr>
<tr>
  <td>Title goes here</td>
  <td>Author goes here</td>
  <td>Price goes here</td>
</tr>

</table>
